.container-fluid {
  width: 100%;
  padding: 0;
}


.blog-map-row {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  min-height: 80px;
}


app-gallery-blog {
  float: left;
  width: 100%;
  margin-right: 0.25em;
  margin-left: 2px;
}

app-gallery-map {
  display: block;
  height: 80px;
  width: 100px;
  position: absolute;
  right: 4px
}


.directories {
  margin-right: 2px;
  margin-left: 2px;
  display: block;
}

.spinner-container {
  position: absolute;
  top: 50%;
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.spinner {
  width: 80px;
  height: 80px;
  background-color: var(--bs-body-color);

  margin-left: auto;
  margin-right: auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.upload-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.upload-overlay-content {
  background: var(--bs-body-bg);
  padding: 2em;
  text-align: center;
  border: 2px dashed var(--bs-primary);
}

.upload-progress-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  z-index: 10001;
}
